html {
    font-size: 16px;
}

:root {
    --BlueSky: #77A9CC;
    --Burgundy: #8c2633;
    --DarkBurgundy: #631b24;
    --Cream: #f1e6b2;
    --Gold: #85714d;
    --DarkGold: #473d29;
    --Greenish: #347B21;
    --low-resolution: 768px;
    --medium-resolution: 1366px;
    --high-resolution: 1920px;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url(../../resources/fonts/comic.ttf) format('truetype'),
        url(../../resources/fonts/comicbd.ttf) format('truetype'),
        url(../../resources/fonts/comici.ttf) format('truetype'),
        url(../../resources/fonts/comicz.ttf) format('truetype');
}

@font-face {
    font-family: 'Architects Daughter';
    src: url(../../resources/fonts/ArchitectsDaughter.ttf) format('truetype');
}

@font-face {
    font-family: 'Segoe Script';
    src: url(../../resources/fonts/segoesc.ttf) format('truetype'),
        url(../../resources/fonts/segoescb.ttf) format('truetype');
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

body {
    background: url("../../resources/media/images/burgundy-and-gold-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 1366px;
    margin: 0 auto;
}

.block-container {
    display: Block;
    width: 1366px;
    color: black;
}

.flex-container {
    display: flex;
    width: 1366px;
    margin: 0 auto;
}

.primary-photo {
    width: 185px;
    height: auto;
    box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 15;
}

.secondary-photo {
    width: 185px;
    height: auto;
    box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 15;
}


.clock-container.inset-shadow {
    color: transparent;
    background: Gray;
    text-shadow: rgba(255, 255, 255, 0.3) 2px 2px 2px, 0 0 0 rgba(0, 0, 0, 0.5);
}

header .inset-shadow {
    color: transparent;
    background: #8C2633;
    text-shadow: rgba(255, 255, 255, 0.4) 2px 2px 2px, 0 0 0 rgba(0, 0, 0, 0.5);
}

.clock-container.alt-shadow {
    color: rgba(0, 0, 0, 0.4);
    background: Gray;
    text-shadow: rgba(255, 255, 255, 0.4) 2px 2px 2px, 0 0 0 rgba(0, 0, 0, 0.5);
}

header .alt-shadow {
    color: rgba(0, 0, 0, 0.5);
    background: #8C2633;
    text-shadow: rgba(255, 255, 255, 0.4) 2px 2px 2px, 0 0 0 rgba(0, 0, 0, 0.5);
}

header {
    width: 100%;
    font-family: Helvetica, Helvetica, Arial;
    font-weight: bold;
    position: fixed;
    z-index: 50;
}

.inner div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    line-height: 4rem;
}

.inner {
    position: relative;
    /*background-color: #8c2633;*/
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.8);
}

.middle {
    padding: 10px;
    background-color: #f1e6b2;
    box-shadow: inset 4px 4px 6px 2px rgba(0, 0, 0, 0.8);
}

.outer {
    padding: 20px;
}

.small-header,
.large-header {
    margin-top: 70px;
}

.large-header .primary-photo,
.small-header .secondary-photo {
    width: 185px;
    border-radius: 6px;
}

.small-header .inner>div {
    padding: 0;
    margin: 0;
}


.small-header .inner>div>h1 {
    padding: 0;
    margin: 0;
}

#sticky-container {
    position: fixed;
    Width: 100%;
    z-index: 100;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 11.11%;
    height: 70px;
    font-size: 1.125rem;
}

.tablink:hover {
    background-color: #777;
}

.hover-box {
    border-radius: 6px;
}

/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: White;
    display: none;
    height: 100%;
    z-index: 5;
}

#Home {
    display: flex;
    flex-direction: column;
    background-color: #f1e6b2;
}

#home-content-container {
    margin-top: 340px;
    position: relative;
}

#slideshow {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #85714d;
}

#slideshow p {
    color: white;
    font-family: 'Comic Sans MS', Sans-serif;

    font-size: 1.125rem;
    text-align: center;
    line-height: 1.65rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 550px;
}

#Pondering {
    width: auto;
    height: 280px;
    position: absolute;
    right: 30px;
    top: 75px;
    opacity: 1;
}

#fueled-by-faith {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comic Sans MS', 'Architects Daughter';
    color: #631824;
}

#fueled-by-faith h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#fueled-by-faith h2:nth-child(1) {
    font-family: "Segoe Script", Script;
    font-size: 3rem;
    color: rgb(112, 48, 160);
    font-weight: bold;
}

#fueled-by-faith p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

#fueled-by-faith img {
    height: 350px;
    width: auto;
    margin-bottom: 2rem;
}

#fueled-by-faith span:nth-of-type(-n+3) {
    font-size: 1rem;
    vertical-align: super;
}

#fueled-by-faith span:nth-of-type(4) {
    font-weight: bold;
    font-size: 2rem;
    vertical-align: super;
}

#words-to-live-by {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#words-to-live-by h2:nth-of-type(1) {
    font-family: "Segoe Script";
    font-size: 2rem;
    font-weight: bold;
    color: rgb(112, 48, 160);
}

#words-to-live-by #bible {
    height: 350px;
    width: auto;
    margin: 2rem;
}

#words-to-live-by h2:nth-of-type(2) {
    font-size: 2rem;
}

#words-to-live-by p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#words-to-live-by h2:nth-of-type(3) {
    font-size: 2rem;
    font-weight: bold;
}

#words-to-live-by h2:nth-of-type(3) span {
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
}

#Biography {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #f1e6b2;
}

#Biography .biography-content {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.5rem;
    background-color: #f1e6b2;
    padding: 4rem;
    padding-top: 0;
    margin-top: 375px;
}

#Biography .biography-content>p {
    margin-bottom: 1rem;
    text-indent: 4rem;
    text-align: justify;
}

#cv-button {
    position: absolute;
    right: 4rem;
    top: -50px;
    width: 200px;
    color: Lightgray;
    background-color: black;
    opacity: 0.5;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.7);
}

#Clinical {
    display: flex;
    color: black;
    padding-bottom: 50px;
    background-color: #f1e6b2;
}

#clinical-content>div {
    background-color: #85714d;
    padding: 1rem;
    box-shadow: 4px 4px 15px 2px black;
    border-radius: 8px;
}

#clinical-content {
    flex-direction: column;
    font-family: 'Comic Sans MS', 'Architects Daughter';
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 250px;
    padding: 1rem;
}

#clinical-content h2 {
    font-family: Helvetica;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 2rem;
}

#clinical-content h3 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#clinical-content ul {
    color: inherit;
    font-size: 1.25rem;
    line-height: 1.55rem;
}

#clinical-content #psychotherapy {
    Display: flex;
    flex-direction: column;
    Width: 550px;
    Background: #85714d;
}

#clinical-content #psychotherapy>div {
    display: flex;
}

#clinical-content #psychotherapy>div p {
    font-size: 1.25rem;
}

#clinical-content #psychotherapy img {
    float: left;
    height: 150px;
    width: Auto;
    margin-right: 2rem;
}

#clinical-content #psychotherapy ul {
    color: inherit;
    font-size: 1.25rem;
}

#clinical-content #assessment {
    margin: 1rem;
    background: #85714d;
}

#clinical-content #counseling {
    margin: 1rem;
    background: #85714d;
}

#clinical-content #psychotherapy p {
    margin-top: 1rem;
}

#clinical-content #counseling {
    position: relative;
    margin: 1rem;
}

#clinical-content #counseling>img {
    width: 250px;
    height: auto;
    margin-top: 1rem;
    bottom: 20px;
}

#Specialized {
    color: black;
    background-color: #f1e6b2;
}

#specialized-content {
    display: Inline-flex;
    padding: 4rem;
    padding-top: 0;
    margin-top: 200px;
}

#specialized-categories {
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: space-around
}

#specialized-content h3 {
    font-size: 2rem;
    color: #f1e6b2;
}

#specialized-content #forensic {
    Display: Flex;
    width: 30%;
    Flex-direction: column;
    align-items: center;
    background-color: #85714d;
    margin-right: 1rem;
    box-shadow: 4px 4px 15px 2px black;
    border-radius: 8px;
}

#specialized-content #forensic img {
    width: 200px;
    height: auto;
    margin: 1rem;
}

#specialized-content #forensic a>div:hover {
    background-color: white;
}

#specialized-content #forensic>div {
    display: flex;
    width: 100%;
}

#specialized-content #forensic>div>p {
    font-size: 1.125rem;
    font-family: 'Comic Sans MS', 'Architects Daughter';
    text-indent: 2rem;
    text-align: justify;
    margin-top: 1rem;
    line-height: 1.25rem;
}

#specialized-content #forensic>div>p a {
    text-decoration: none;
    color: rgb(43, 43, 143);
}

#specialized-content #forensic,
#specialized-content #presentations,
#specialized-content #consultation {
    padding: 1rem;
}

#specialized-content #presentations {
    Display: Flex;
    Width: 40%;
    Flex-direction: column;
    align-items: center;
    background-color: #85714d;
    margin-right: 1rem;
    box-shadow: 4px 4px 15px 2px black;
    border-radius: 8px;

}

#specialized-content #presentations p {
    font-family: 'Comic Sans MS', 'Architects Daughter';
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
}

#specialized-content #presentations p a {
    text-decoration: none;
    color: rgb(43, 43, 143);
}

#specialized-content #presentations img {
    width: 200px;
    height: auto;
    margin-top: 1rem;
}

.hover-box {
    transition: color linear 500ms, background-color linear 500ms;
}

#specialized-content #presentations .hover-box:hover {
    background-color: white;
}

#specialized-content #consultation {
    display: flex;
    flex-direction: column;
    align-items: center;
    Width: 30%;
    background-color: #85714d;
    box-shadow: 4px 4px 15px 2px black;
    border-radius: 8px;
}

#specialized-content #consultation h3 {
    Text-align: center;
    Font-size: 1.75rem;
}

#specialized-content #consultation>div {
    display: flex;
    width: 100%;
}

#specialized-content #consultation>div>p {
    font-size: 1.25rem;
    font-family: 'Comic Sans MS', 'Architects Daughter';
    margin-top: 1rem;
}

#specialized-content #consultation ul {
    font-family: 'Comic Sans MS', 'Architects Daughter';
    font-size: 1.125rem;
    color: inherit;
    line-height: 1.25rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

#specialized-content #consultation img {
    width: 200px;
    border-radius: 50%;
}

#specialized-content #consultation .hover-box:hover {
    Background-color: white;
}

#specialized-content #consultation>a {
    margin-top: 0.5rem;
    font-family: 'Comic Sans MS', 'Architects Daughter', sans-serif;
    text-decoration: none;
    font-size: 1.125rem;
    color: rgb(43, 43, 143);
}

#YourMentalHealth {
    background-color: #F1E6B2;
}

#YourMentalHealth #adult-content {
    display: flex;
    color: Black;
    padding: 4rem;
    margin-top: 134px;
    font-family: 'Comic Sans MS', 'Architects Daughter';
    font-family: Times, Serif
}

#YourMentalHealth #adult-content>div>img {
    display: flex;
    margin: 0 auto;
    height: auto;
    width: 450px;
    margin-bottom: 2rem;
}

#YourMentalHealth #adult-content>div h3 {
    font-size: 2rem;
    text-align: center;
}

#YourMentalHealth #adult-content>div>p:nth-of-type(1) {
    font-family: helvetica, sans-serif;
    font-size: 1.75rem;
    text-align: justify;
    text-indent: 4rem;
    margin-bottom: 2rem;
}

#YourMentalHealth #adult-content>div>div>h3:nth-of-type(1) {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#YourMentalHealth #adult-content div>div>h3:nth-of-type(n+2) {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.125rem;
}

#YourMentalHealth #adult-content>div>div>p:nth-of-type(n) {
    font-size: 1.25rem;
    text-align: justify;
    text-indent: 3rem;
    margin-bottom: 2rem;
}

#RadioShow {
    display: flex;
    background-color: #F1E6B2;
}

#RadioShow .content-container {
    width: 100%;
    padding: 4rem;
    margin-top: 155px;
}

#RadioShow .content-container>h3 {
    /*font-family: 'Comic Sans MS', 'Architects Daughter';*/
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

#RadioShow .content-container>p {
    font-family: Times, serif;
    font-size: 1.25rem;
    color: black;
    text-align: justify;
    text-indent: 2rem;
    margin-bottom: 1rem;
}

#RadioShow .content-container>p a {
    color: #8c2633;
}
/*
#RadioShow>div>div>div img {
    transition: background-color linear 500ms;
}

#RadioShow>div>div>div img:hover {
    background-color: white;
}
*/
.audio-container {
    width: 25%;
    box-shadow: 4px 4px 15px 2px black;
    border-radius: 8px;
    background-color: #85714d;
    margin: 16px;
    padding: 10px;
}

.audio-container h3 {
    text-align: center;
    color: black;
    color:#f1e6b2;
    font-size: 1.25rem;
}

.audio-container p {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: justify;
    color: black;
    text-indent: 2rem;
}

.audio-container img {
    display: block;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#YouthMentalHealth {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #f1e6b2;
    padding-top: 0;
}

#YouthMentalHealth #juvenile-content-container {
    display: flex;
    padding: 4rem;
    padding-bottom: 10rem;
    margin-top: 155px;
}

#YouthMentalHealth #juvenile-content-container #preparing-for-college {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: justify;
    margin: 0 auto;
    padding: 2rem;
    background-color: #85714D;
    box-shadow: 4px 4px 15px 2px black;
    border-radius: 8px;
}

#YouthMentalHealth #juvenile-content-container #preparing-for-college img {
    width: 400px;
    height: auto;
}

#YouthMentalHealth #juvenile-content-container #preparing-for-college .hover-box:hover {
    background-color: white;
}

#YouthMentalHealth #juvenile-content-container #preparing-for-college .text-container {
    font-family: 'Comic Sans MS', 'Architects Daughter';
    color: #8c2633;
    text-align: center;
    padding: 1rem;
}

#YouthMentalHealth #juvenile-content-container #preparing-for-college .text-container h1 {
    color: #F1E6B2;
    color: Black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#YouthMentalHealth #juvenile-content-container #preparing-for-college .text-container p {
    color: black;
    font-size: 1.25rem;
    text-align: justify;
    text-indent: 3rem;
}

#YouthMentalHealth #juvenile-content-container #preparing-for-college .text-container p a {
    text-decoration: none;
    color: rgb(43, 43, 143);
}

#YouthMentalHealth #juvenile-content-container #avoiding-detention {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: justify;
    margin: 0 auto;
    padding: 2rem;
    margin-right: 2rem;
    background-color: #85714D;
    box-shadow: 4px 4px 15px 2px black;
    border-radius: 8px;
}

/*
#YouthMentalHealth #juvenile-content-container #avoiding-detention:hover {
    background-color: white;
    cursor: pointer;
}
*/
#YouthMentalHealth #juvenile-content-container #avoiding-detention img {
    width: 400px;
    height: auto;
}

#YouthMentalHealth #juvenile-content-container #avoiding-detention .hover-box:hover {
    background-color: white;
}

#YouthMentalHealth #juvenile-content-container #avoiding-detention .text-container {
    width: 100%;
    font-family: 'Comic Sans MS', 'Architects Daughter';
    text-align: center;
    padding: 1rem;
}

#YouthMentalHealth #juvenile-content-container #avoiding-detention .text-container h1 {
    color: #F1E6B2;
    color: Black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#YouthMentalHealth #juvenile-content-container #avoiding-detention .text-container p {
    color: Black;
    font-size: 1.25rem;
    text-align: justify;
    text-indent: 3rem;
}

#YouthMentalHealth #juvenile-content-container #avoiding-detention .text-container div p a {
    text-decoration: none;
    color: rgb(43, 43, 143);
}

#Testimonials {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #f1e6b2;
    font-family: 'Comic Sans MS', 'Architects Daughter';
}

#Testimonials #testimonials-content {
    margin: 4rem;
    margin-top: 225px;
}

#Testimonials #testimonials-content p {
    font-size: 1.25rem;
    font-style: italic;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#Testimonials #testimonials-content p:nth-of-type(Odd) {
    color: Black;
}

#Testimonials #testimonials-content p:nth-of-type(Even) {
    color: #347b21;
}

.horizontal-rule {
    display: flex;
    margin: 0 auto;
    width: 60%;
    height: 3px;
    background: linear-gradient(to right, rgba(133, 113, 77, 0), #85714d, rgba(133, 113, 77, 0));
}

#Contact {
    background: url(../../resources/media/images/office-picture-rotated-and-centered.jpg);
    width: 100%;
    Padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Contact #contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    color: white;
    margin: 0 auto;
    height: 768px;
}


#Contact #contact-container #provisional-text {
    font-family: 'Comic Sans MS', 'Architects Daughter';
    color: #F1E6B2;
    font-size: 1.25rem;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(52, 123, 33, 0.0);
    padding: 1rem;
    border-radius: 4px;
}

#Contact #contact-container #contact-text {
    font-family: 'Comic Sans MS', 'Architects Daughter';
    color: #F1E6B2;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    position: absolute;
    left: 47%;
    transform: translateX(-47%);
    margin-top: 180px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 4px;
}

#Contact #contact-container #emergency-text-1 {
    font-family: 'Comic Sans MS', 'Architects Daughter';
    text-align: center;
    color: #F1E6B2;
    font-size: 1.125rem;
    line-height: 1.5rem;
    position: absolute;
    Bottom: 30px;
    left: 50px;
    background-color: rgba(149, 38, 51, 0.7);
    padding: 1rem;
    border-radius: 4px;
}

#Contact #contact-container #emergency-text-2 {
    font-family: 'Comic Sans MS', 'Architects Daughter';
    text-align: center;
    color: #F1E6B2;
    font-size: 1.125rem;
    line-height: 1.5rem;
    position: absolute;
    bottom: 30px;
    right: 50px;
    background-color: rgba(149, 38, 51, 0.7);
    padding: 1rem;
    border-radius: 4px;
}

#Contact #contact-container #contact-text span {
    font-size: 1rem;
}

#contact-container #contact-text a {
    color: #F1E6B2;
}

.clock-container {
    position: fixed;
    bottom: 0px;
    color: white;
    background: gray;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 50;
}

.clock-container h2 {
    font-size: 1.5rem;
    font-weight: 200;
}

footer > a {
    font-size: 1.5rem! Important;
    color: inherit;
    line-height: 2rem;
    margin-left: 2rem;
}

footer > div > h2 {
    margin-right: 0.25rem;
}

#calendar-clock {
    font-weight: 200;
}

#diffuser {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.15;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}